<%= @player1.name%> nudged <%= @player2.name%>!

<p>
<%= @player2.name%> now has <%= @player2.hit_points %> points.
</p>

<form action="/attack">
    <input type="submit" value="Hit <%= @player2.name%>">
</form>
