<%= @player1.name%> vs. <%= @player2.name%>
<p><%= @player2.name%> currently has  <%= @player2.hit_points %> hit points</p>
<form action="/attack">
    <input type="submit" value="Hit <%= @player2.name%>">
</form>
